* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.bg-azure{
     background-color: rgb(0, 149, 255);
}
.white{
     color: white;
}
.pdng-20{
padding: 20px;
}
.d-flex{
     display: flex;
}
.sp-between{
     justify-content: space-between;
}
.ai-center{
     align-items: center;
}